.header {
    /*font-family: 'Bookman Old Style';*/
    font-family: 'Indie Flower', cursive;
    color: darkgrey;
}

body {
    font-family: 'Indie Flower', serif;
}

label {
    font-size: 20px;
    padding-top: 10px;
}
input, textarea, .btn[type='submit'] {
    font-family: 'Helvetica', serif;
    font-size: 15px;
}

.big-btn {font-size: 50px;}

@media only screen and (max-width: 625px) {
    .big-btn {
        font-size: 20px;
    }
}

.hidden {
    display: none;
}